html {
  height: 100%;
  cursor: default;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.body-light {
  background-color: rgba(219, 224, 236, 255);
}

.body-dark {
  background-color: rgba(52, 52, 52, 255);
}

.text-light {
  color: rgba(51, 51, 53, 255);
}

.text-dark {
  color: white;
}

.poss {
  height: auto;
  width: 20%;
  position: absolute;
  z-index: 3;
  margin-top: 68px;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  align-self: flex-start;
}

p {
  margin: 0;
  padding: 0;
}

.poss p,
button,
h2,
.day-forecast {
  cursor: pointer;
}

.poss p {
  font-size: 12px;
  width: 80%;
  height: 30px;
  margin: 2% 0 2% 5%;
  display: flex;
  align-items: center;
}

.poss p:hover {
  opacity: 0.5;
}

.cont-main {
  width: 25%;
  height: 96%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.main-light {
  box-shadow: 50px 50px 100px rgba(188, 194, 203, 255);
}

.main-dark {
  box-shadow: 0px 0px 0px black;
}

.position-absolute {
  position: absolute;
  width: 25%;
  height: 53%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: -4%;
}

.date {
  width: auto;
  height: 9%;
  background: rgba(253, 250, 254, 255);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  margin-bottom: 33%;
  padding: 0 5px 0 5px;
}

.icon {
  width: 55%;
  height: 40%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 3;
}

.cont-variables {
  width: 85%;
  height: 30%;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.variables-light {
  box-shadow: 10px 10px 10px rgb(236, 236, 236);
  background: white;
}

.variables-dark {
  background: rgba(41, 40, 43, 255);
  border: 1px solid rgba(38, 38, 38, 255);
  box-shadow: 0 0 0 black;
}

.cont-variables div {
  width: 25%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cont-variables i {
  color: rgba(101, 73, 187, 255);
  font-size: 20px;
}

.cont-variables p {
  font-size: 12px;
}

.cont-variables p:first-of-type {
  margin-top: 15%;
  font-weight: 600;
}

.cont-variables p:last-of-type {
  opacity: 0.3;
}

.cont-current {
  width: 100%;
  height: 70%;
  border-radius: 30px 30px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.current-light {
  background: linear-gradient(
    rgba(253, 250, 254, 255),
    60%,
    rgba(235, 227, 250, 255)
  );
}

.current-dark {
  background: rgba(31, 31, 31, 255);
}

.input i,
.nav-bar i {
  font-size: 18px;
  opacity: 0.8;
}

.input {
  width: 80%;
  height: 10%;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

input,
button,
.poss p,
h2,
.day-forecast {
  outline: none;
}

input {
  font-size: 12px;
  height: 100%;
  width: 80%;
  background: transparent;
  border: 1px solid transparent;
}

button {
  width: 9%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  background: transparent;
}

.nav-bar {
  width: 85%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-light {
  box-shadow: 0px 10px 20px rgba(240, 239, 244, 255),
    0px -10px 20px rgba(240, 239, 244, 255);
  background: rgba(185, 186, 190, 255);
  justify-content: flex-start;
}

.nav-dark {
  background: linear-gradient(
    rgba(180, 77, 230, 255),
    rgba(239, 128, 193, 255)
  );
  justify-content: flex-end;
  box-shadow: 0 0 0 black;
}

.nav-bar p {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
}

.theme {
  width: 50px;
  height: 23px;
  border-radius: 40px;
  display: flex;
  align-items: center;
}

.theme button {
  width: 25px;
  height: 25px;
  background: rgba(253, 252, 255, 255);
  border-radius: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0 white;
}

.theme button div {
  background: rgba(151, 69, 250, 255);
  width: 6px;
  height: 6px;
  border-radius: 200px;
  box-shadow: 0 0 0 white;
}

.conditions {
  width: 380%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 2%;
}

.conditions div {
  background: linear-gradient(
    90deg,
    rgba(232, 85, 189, 255),
    rgba(179, 37, 238, 255)
  );
  width: 20%;
  height: 65%;
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1% 0 1%;
  box-shadow: inset 0px -10px 40px rgb(248, 248, 207);
  overflow: hidden;
  background-color: red;
}

.conditions .long-div {
  background: transparent;
  width: 250%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.conditions .long-div div {
  background: transparent;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0 white;
  border-radius: 0;
}

h2 {
  width: 50%;
  height: 60%;
  font-size: 120px;
  color: white;
  display: flex;
  justify-content: center;
  margin: 0 0 0 10%;
  z-index: 2;
  padding: 0;
}

sup {
  font-size: 25px;
}

sub {
  font-size: 40px;
}

.conditions .long-div .circle-up,
.conditions .long-div .circle-down {
  width: 200px;
  height: 120px;
  border-radius: 150px;
  background: rgba(235, 227, 250, 255);
  opacity: 0.15;
  position: relative;
}

.circle-up {
  align-self: flex-start;
  right: 18%;
  bottom: 33%;
}

.circle-down {
  left: 21%;
  top: 59%;
}

.conditions div p {
  font-size: 15px;
  color: white;
  width: 80%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont-forecast {
  width: 100%;
  height: 30%;
  border-radius: 0 0 30px 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.forecast-light {
  background: rgba(245, 243, 251, 255);
}

.forecast-dark {
  background: rgba(40, 40, 40, 255);
}

.day-forecast {
  width: 18%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5%;
}

.day-forecast p,
.day-forecast button {
  width: 100%;
  height: 15%;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.day-forecast .day-3 {
  width: 180%;
}

.day-forecast div {
  width: 100%;
  height: 70%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.day-forecast-light {
  background: white;
}

.day-forecast-dark {
  background: rgba(59, 59, 59, 255);
}

.purple {
  background: linear-gradient(
    rgba(180, 77, 230, 255),
    rgba(239, 128, 193, 255)
  );
}

.day-forecast div p {
  font-size: 9px;
  font-weight: 100;
}

.day-forecast div p:last-of-type,
.day-forecast div p:nth-of-type(2) {
  opacity: 0.3;
}

p sup {
  font-size: 6px;
  height: 100%;
  margin: 0 0 0 3%;
}

.day-forecast img {
  width: 50%;
  height: 30%;
  border: 1px solid transparent;
}

/*Second screen*/

.cont-scroll {
  width: 100%;
  height: 100%;
  background: transparent;
  overflow-y: auto;
}

.cont-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.cont-scroll::-webkit-scrollbar {
  width: 10px;
}

.cont-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(179, 37, 238, 255);
  opacity: 0.2;
}

.cont-current-scroll {
  height: 40%;
  border-radius: 0;
}

.cont-current-scroll:first-of-type {
  border-radius: 30px 30px 0 0;
}

.nav-bar-scroll {
  margin-top: -5%;
  justify-content: flex-start;
}

.nav-bar-scroll p {
  width: 80%;
}

.conditions-scroll {
  width: 85%;
  height: 55%;
  border-radius: 15px;
  background: linear-gradient(
    90deg,
    rgba(232, 85, 189, 255),
    rgba(179, 37, 238, 255)
  );
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px -5px 50px rgb(250, 250, 176);
}

.circle-right,
.circle-left {
  border-radius: 100px;
  position: relative;
  background: rgba(235, 227, 250, 255);
  opacity: 0.15;
}

.circle-left {
  width: 380px;
  height: 190px;
  left: 14%;
  box-shadow: inset 15px -15px 90px yellow;
}

.circle-right {
  width: 300px;
  height: 180px;
  right: 14%;
  top: -60%;
}

.long-div-scroll {
  width: 200%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.long-div-scroll div:nth-of-type(2) {
  width: 40%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -5%;
}

.long-div-scroll div:nth-of-type(3) {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.long-div-scroll div p {
  width: 100%;
  height: 20%;
  font-weight: 600;
  font-size: 16px;
  opacity: 0.8;
  color: white;
  margin: 0;
}

.long-div-scroll div p:last-of-type {
  font-size: 12px;
}

.long-div-scroll h2 {
  margin: 5% 0 0 0;
  font-size: 65px;
  width: 90%;
  height: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.long-div-scroll sub {
  height: 50%;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-self: center;
  opacity: 0.7;
}

.long-div-scroll sup {
  font-size: 15px;
}

.canvas {
  width: 100%;
  height: auto;
  padding-bottom: 15%;
}

.canvas-light {
  background: white;
}

.canvas-dark {
  background: rgb(0, 0, 0);
}

.cont-forecast-scroll {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  border-radius: 0;
}

.cont-forecast-scroll:last-of-type {
  border-radius: 0 0 30px 30px;
}

.cont-variables-scroll {
  height: 100px;
  width: 87%;
  margin-top: -15%;
  align-self: center;
}

.order {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-self: flex-start;
  border-radius: 0;
}

.order div {
  width: 20%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5% 0 5% 0;
}

.order .event-hour,
.order .event-hour-fix {
  width: 45%;
}

.order .temp-hour,
.order .temp-hour-fix {
  width: 8%;
}

.order div p {
  font-size: 12px;
  font-weight: 600;
  opacity: 0.7;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order div sup {
  font-size: 8px;
  margin: 0 0 0 5%;
  height: 40%;
}

.order div div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 0;
}

.order div div p {
  height: 40px;
  width: 60%;
  font-size: 10px;
  justify-content: flex-start;
}

.order img {
  width: 50px;
  height: 50px;
}

/* Map */

.google-map {
  width: 90%;
  height: 80%;
}

.cont-forecast-map {
  justify-content: center;
  align-items: center;
}

.cont-forecast-map .cont-variables {
  height: 60%;
}

.hidden {
  display: none;
}

.visibility {
  visibility: hidden;
}

.gm-style-iw {
  height: 40px;
  width: 110px;
}

.p-popop {
  height: 100%;
  width: 100%;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-popop sup {
  font-size: 10px;
  margin-top: -15%;
}

@media screen and (max-width: 1350px) {
  .cont-main,
  .position-absolute {
    width: 30%;
  }

  .poss {
    width: 24%;
  }
}

@media screen and (max-width: 1250px) {
  .cont-main,
  .position-absolute {
    width: 35%;
  }

  .poss {
    width: 28%;
  }
}

@media screen and (max-width: 1150px) {
  .cont-main,
  .position-absolute {
    width: 40%;
  }

  .poss {
    width: 32%;
  }
}

@media screen and (max-width: 1050px) {
  .cont-main,
  .position-absolute {
    width: 45%;
  }

  .poss {
    width: 36%;
  }
}

@media screen and (max-width: 950px) {
  .cont-main,
  .position-absolute {
    width: 50%;
  }

  .poss {
    width: 40%;
  }
}

@media screen and (max-width: 850px) {
  .cont-main,
  .position-absolute {
    width: 55%;
  }

  .poss {
    width: 44%;
  }
}

@media screen and (max-width: 750px) {
  .cont-main,
  .position-absolute {
    width: 60%;
  }

  .poss {
    width: 48%;
  }
}

@media screen and (max-width: 650px) {
  .cont-main {
    width: 70%;
    height: 100%;
    border-radius: 0;
  }

  .position-absolute {
    width: 70%;
    height: 53%;
  }

  .cont-current,
  .cont-current-scroll:first-of-type,
  .cont-forecast,
  .cont-forecast-scroll:last-of-type {
    border-radius: 0;
  }

  h2 {
    font-size: 130px;
  }

  .date {
    margin-top: -7%;
  }

  .circles {
    width: 85%;
  }

  .poss {
    width: 56%;
  }
}

@media screen and (max-width: 550px) {
  .cont-main,
  .position-absolute {
    width: 85%;
  }

  .poss {
    width: 68%;
  }
}

@media screen and (max-width: 450px) {
  .cont-main,
  .position-absolute {
    width: 100%;
  }

  .poss {
    width: 80%;
  }
}
